UV_INDEX_GEN_AI_INTERNAL_USERNAME=oauth2accesstoken
UV_INDEX_GEN_AI_INTERNAL_PASSWORD="$(gcloud auth print-access-token)"
OPENAI_API_KEY="..."
EMBEDDING_MODEL="openai/text-embedding-3-small"
LANGUAGE_MODEL="openai/gpt-4o-mini"
DEFAULT_IMAGE_CAPTIONING_MODEL_ID="google/gemini-2.5-flash"
DEFAULT_IMAGE_MERMAID_MODEL_ID="google/gemini-2.5-flash"
GOOGLE_API_KEY="..."
TWELVELABS_API_KEY="..."
