UV_INDEX_GEN_AI_INTERNAL_USERNAME=oauth2accesstoken
UV_INDEX_GEN_AI_INTERNAL_PASSWORD="$(gcloud auth print-access-token)"
EMBEDDING_MODEL="gemini-embedding-001"
LANGUAGE_MODEL="google/gemini-3-flash-preview"
DEFAULT_TRANSCRIBER_MODEL_ID="google/gemini-3-flash-preview"
OPENAI_API_KEY="..."
GOOGLE_API_KEY="..."
