UV_INDEX_GEN_AI_INTERNAL_USERNAME=oauth2accesstoken
UV_INDEX_GEN_AI_INTERNAL_PASSWORD="$(gcloud auth print-access-token)"
EMBEDDING_MODEL="voayge-multimodal-3"
LANGUAGE_MODEL="google/gemini-3-flash-preview"
DEFAULT_IMAGE_CAPTIONING_MODEL_ID="google/gemini-2.5-flash"
GOOGLE_API_KEY="..."
VOYAGE_API_KEY="..."
